{% extends 'global.html' %}
{% block content %}
{% load static %}


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <center><img src="{% static 'assets/createdby.png' %}" alt="" style="width: 99%" ></center>
</div>



<div class="container pt-5" id="prices">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Based Plug</h4>
            </div>
            <div class="card-body">
                <img src="{% static 'assets/BasedPlug.png' %}" style="height: 156px">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Nationalist Heaven</li>
                    <li>Merch, Supplements, Inspiration</li>
                    <li>Monument to beauty and creation</li>
                    <li>Only for the based...</li>
                </ul>
                <a type="button" target = "blank" href=https://basedplug.com class="btn btn-lg btn-block btn-outline-primary">CHECK IT OUT</a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Coming soon</h4>
            </div>
            <div class="card-body">
                <img src="{% static 'assets/comingsoon.png' %}" style="height: 156px">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>.</li>
                    <li>.</li>
                    <li>.</li>
                    <li>.</li>
                </ul>
                <a type="button" class="btn btn-lg btn-block btn-outline-primary">CHECK IT OUT</a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm ">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Coming soon</h4>
            </div>
            <div class="card-body">
                <img src="{% static 'assets/comingsoon.png' %}" style="height: 156px">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>.</li>
                    <li>.</li>
                    <li>.</li>
                    <li>.</li>
                </ul>
                <a type="button" class="btn btn-lg btn-block btn-outline-primary">CHECK IT OUT</a>
            </div>
        </div>
    </div>
</div>






<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <center><img src="{% static 'assets/music.png' %}" alt="" style="width: 99%;"></center>
</div>

<div class="container " style="margin-top: 20px;">
    <div class="card mb-4">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Schneidelicious</h4>
        </div>
        <div class="card-body">
            <div class="row">

                </div>
              
                    <iframe width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/495412881&color=%23f567ed&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                    <iframe width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/664439126&color=%23f567ed&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/schneidelicious" title="schneidelicious" target="_blank" style="color: #cccccc; text-decoration: none;">schneidelicious</a> · <a href="https://soundcloud.com/schneidelicious/ancient-aliens" title="Ancient Aliens" target="_blank" style="color: #cccccc; text-decoration: none;">Ancient Aliens</a></div>
                    <iframe width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/667394696&color=%23f567ed&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/schneidelicious" title="schneidelicious" target="_blank" style="color: #cccccc; text-decoration: none;">schneidelicious</a> · <a href="https://soundcloud.com/schneidelicious/instaflip" title="Instaflip" target="_blank" style="color: #cccccc; text-decoration: none;">Instaflip</a></div>
                    <iframe width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/718386082&color=%23f567ed&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/schneidelicious" title="schneidelicious" target="_blank" style="color: #cccccc; text-decoration: none;">schneidelicious</a> · <a href="https://soundcloud.com/schneidelicious/deep-stank-master" title="DEEP STANK" target="_blank" style="color: #cccccc; text-decoration: none;">DEEP STANK</a></div>

            </div>

        </div>
    </div>
</div>

{% endblock %}