

{% extends 'global.html' %}

{% load static %}
{% block content %}


    


<body>

   <div id="page-wrap" style=>
   
       <img src="{% static 'assets/alexs.jpg' %}" style="border-radius: 50%;;margin-top: 30px;display: block; margin-left: auto;margin-right: auto;height: 200px" alt="Photo of Alex Schneider" id="pic" />
   
       <div id="contact-info" class="vcard">
       
           <!-- Microformats! -->
           <div class="card-body" style="">
           <h1 class="fn" style="text-align: center;margin-top: 1rem;font-size: 32pt;"><i><strong>Alex Schneider Resume</strong></i></h1>
        </div>
           <div class="card-body">
           <p style="font-size: 13pt; text-align: center;">
               Cell: <span class="tel" style="font-size: 1.2rem;">954 - 397 - 4717</span><br />
               Email: <a class="email" href="mailto:imschneidelicious@gmail.com">imschneidelicious@gmail.com</a>
           </p>
           </div>
       </div>
       <div class="col-md-4 my-auto" style="text-align: center;   display: block;
       margin-left: auto;
       margin-right: auto;">

        <div class="card" style="margin-top: 20px;">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal" style="font-size: 20px;">WHAT I DO</h4>
            </div>
            <div class="card-body">
                <p>
                    I am an outgoing and energetic young professional, providing the most important online business
                    skills needed to make you more money. There are so many different ways to reach your goals 
                    when you have a masterful problem solver and leader like myself. I'm looking to grow my experience in providing
                    internet domination to the fingertips of like-minded entrepenuers.
                </p>
            </div>
        </div>
               
       <div id="objective">
      
       </div>
       
       <div class="clear"></div>
       
       <dl>
           <dd class="clear"></dd>
           
           <dt style="font-size: 22pt; text-align: left;margin-top: 50px;"><u><i>Education:</i></u></dt>
           <dd>
               <h2 style="text-align: left;font-size: 13pt;margin-top: 15px;letter-spacing: 1.2px;"> - <strong style="font-size: 15pt;"><i style="font-size: 14.5pt;">Diploma: </i> </strong> <i>St Thomas Aquinas</i> </h2>
               <h2 style="text-align: left;font-size: 11.4pt;margin-top: 15px;letter-spacing: 1.2px;"> - <strong style="font-size: 15pt;"><i style="font-size: 14.5pt;">Certified: </i> </strong> <i>Sales and Empowerment</i> </h2>
               <h2 style="text-align: left;font-size: 13pt;margin-top: 15px;letter-spacing: 1.2px;"> - <strong style="font-size: 15pt;"><i style="font-size: 14.5pt;">Certified: </i> </strong> <i style="font-size: 10.3pt;">Python, Django, HTML/CSS</i> </h2>

           </dd>
           
           <dd class="clear"></dd>
           
           <dt style="font-size: 22pt; text-align: left;margin-top: 20px;"><u><i>Skills: </u></i></dt>
           <dd style="text-align: left;font-style: italic;">
               <h2 style="text-align: left;margin-top: 15px;font-size: 18pt;"><strong><i>Sales / Sales Psycology:</i></strong></h2>
               <h2 style="font-size: 18pt;margin-top: 10px;">- Negotiation</h2>
               <h2 style="font-size: 16pt;">- Prospecting with archived data</h2>
               <h2 style="font-size: 18pt;">- Phone Sales </h2>
               <h2 style="font-size: 18pt;">- Cold Calling</h2>
               <h2 style="font-size: 18pt;">- Overcoming Objections</h2>
               <h2 style="font-size: 18pt;">- Team Management</h2>
               <h2 style="font-size: 18pt;">- Managing Budget </h2>
               <h2 style="font-size: 18pt;">- Automating lead generation</h2>
               <h2 style="font-size: 10pt;">.</h2>

               

            

               
               <h2 style="text-align: left;margin-top: 15px;font-size: 16pt;"><strong><i>Computer / Development Skills:</i></strong></h2>
               <h2 style="font-size: 14pt;margin-top: 15px;">- Full Stack Web Development (Front End & Back End)</h2>
               <h2 style="font-size: 14pt;">- Fluent in Python, Django, Java, PHP, HTML/CSS, SQL. </h2>
               <h2 style="font-size: 16pt;">- Marketing and Branding</h2>
               <h2 style="font-size: 16pt;">- Funnels and Lead Generation</h2>
               <h2 style="font-size: 16pt;">- Cold Email Outreach</h2>
               <h2 style="font-size: 16pt;">- Google Ad Sense</h2>
               <h2 style="font-size: 16pt;">- SEO</h2>
               <h2 style="font-size: 10pt;">.</h2>
             
           </dd>
           
           <dd class="clear"></dd>
           
           <dt style="font-size: 22pt; text-align: left;margin-top: 20px;"><u><i>Experience: </u></i></dt>
           <dd>
            <h2 style="text-align: left; margin-top: 35px;font-size: 16pt;line-height: 25px;"><strong><i>Coral Springs Honda</i></strong> <br><span><i>Sales Manager</i></br><br>Coral Springs, FL </br> 2017 - 2018</span></h2>
            <ul style="text-align: left;line-height: 30px;margin-top: 20px;">
                <li> Ran sales desk for a year. Making pricing and negotiating</li>
                <li> Was promoted to position after just 10 months</li>
                <li> Produced all time record setting sales numbers for last 4 months</li>
                <li> Training new hires and other managers how to desk deals </li>
            </ul> 
            
            <h2 style="text-align: left; margin-top: 40px;font-size: 16pt;line-height: 25px;"><strong><i>Al Hendrickson Toyota</i></strong> <br><span><i>Internet Sales Manager</i></br><br>Coral Springs, FL </br> 2018 - 2021</span></h2>
               <ul style="text-align: left;line-height: 30px;margin-top: 20px;">
                   <li> Inspired and led team of 15 sales associates</li>
                   <li> Record breaking sales numbers back to back for 9 months in 2019</li>
                   <li> Coached associates on overcoming objections and closing deals</li>
                   <li> Ordered and managed leads for $10,000,000/yr gross company</li>
                   <li> Made many people the fattest checks they've ever recieved</li>
               </ul>
               
               <h2 style="text-align: left; margin-top: 40px;font-size: 16pt;line-height: 25px;"><strong><i>Kona Ice</i></strong> <br><span><i>Co - Owner</i></br><br>Coral Springs, FL </br> 2015 - Present</span></h2>
               <ul style="text-align: left;line-height: 30px;margin-top: 20px;">
                   <li> Manage Budget for Company</li> 
                   <li> Book events and parties </li>
                   <li> Personally Market for brand and it's services on foot. Door to door</li>
                   <li> Create opportunities for business with networking and facebook ads</li>
                   <li> 6 years of experience </li>
                   <li> Grossed 70k out of a snow cone truck during a pandemic</li>
               </ul> 
           </dd>
           
           <dd class="clear"></dd>
           
           <dt style="font-size: 22pt; margin-top: 40px;">Hobbies</dt>
           <dd style="font-size: 14pt;">Music Production, Lifting, Boxing, Eating Yuge, Coding, Occasional Gaming, Politics, Growing Food</dd>
           
           <dd class="clear"></dd>
           
           <dt style="margin-top: 50px;">References</dt>
           <dd>Available on request</dd>
           
           <dd class="clear"></dd>
       </dl>
       
       <div class="clear"></div>
   
   </div>

       
</body>



{% endblock content %}